i18nlangselector{
	-moz-binding: url(binding:modules.i18n.i18nBindings#i18nlangselector);
}
i18npaginator {
	-moz-binding: url(binding:modules.i18n.i18nBindings#i18npaginator);
}

cfield[fieldtype="i18nkey"] {
	-moz-binding: url(binding:modules.i18n.i18nBindings#i18nkey);
}